workflows/render-monitor.json
{
  "name": "Render Monitor - Claude Code Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Check Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.render.com/v1/services/YOUR_SERVICE_ID/deploys?limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-deploy-status",
      "name": "Get Latest Deploy Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json[0].deploy.status }}",
              "rightValue": "live",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-if-failed",
      "name": "Is Deploy Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.render.com/v1/services/YOUR_SERVICE_ID/logs?tail=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-logs",
      "name": "Get Error Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"My n8n deployment on Render has failed. Please analyze the error and suggest a fix:\\n\\nDeploy Status: {{ $('Is Deploy Failed?').json[0].deploy.status }}\\n\\nError Logs:\\n{{ JSON.stringify($('Get Error Logs').json) }}\"\n    }\n  ]\n}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          }
        }
      },
      "id": "call-claude",
      "name": "Send to Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "content": "## Setup Instructions\n\n1. Replace YOUR_SERVICE_ID in:\n   - 'Get Latest Deploy Status' node URL\n   - 'Get Error Logs' node URL\n\n2. Create credentials (see below)\n\n3. Assign credentials to HTTP nodes\n\n---\n\n**Render API Credential:**\n- Type: Header Auth\n- Name: Authorization\n- Value: Bearer YOUR_RENDER_API_KEY\n\n**Anthropic API Credential:**\n- Type: Header Auth  \n- Name: x-api-key\n- Value: YOUR_ANTHROPIC_API_KEY",
        "height": 380,
        "width": 300
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-350, -150]
    }
  ],
  "connections": {
    "Check Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Latest Deploy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Deploy Status": {
      "main": [
        [
          {
            "node": "Is Deploy Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Deploy Failed?": {
      "main": [
        [
          {
            "node": "Get Error Logs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Error Logs": {
      "main": [
        [
          {
            "node": "Send to Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
