workflows/render-autofix-simple.json
{
  "name": "Render Auto-Fix (Simple)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.render.com/v1/services/srv-d60s9g4oud1c73fvqcb0/deploys?limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-render",
      "name": "Check Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/remycorpo-alt/n8n/contents/Dockerfile?ref=claude/setup-n8n-render-d5lex",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-dockerfile",
      "name": "Get Dockerfile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/remycorpo-alt/n8n/contents/render.yaml?ref=claude/setup-n8n-render-d5lex",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-renderyaml",
      "name": "Get render.yaml",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get all data from previous nodes\nconst renderData = $('Check Render').first().json;\nconst dockerfileData = $('Get Dockerfile').first().json;\nconst renderYamlData = $('Get render.yaml').first().json;\n\n// Get deploy status\nconst deployStatus = renderData[0]?.deploy?.status || 'unknown';\nconst isError = deployStatus !== 'live';\n\n// Decode files\nconst dockerfile = Buffer.from(dockerfileData.content || '', 'base64').toString('utf8');\nconst renderYaml = Buffer.from(renderYamlData.content || '', 'base64').toString('utf8');\n\n// Store SHAs for later\nconst dockerfileSha = dockerfileData.sha;\nconst renderYamlSha = renderYamlData.sha;\n\nreturn {\n  deployStatus,\n  isError,\n  dockerfile,\n  renderYaml,\n  dockerfileSha,\n  renderYamlSha\n};"
      },
      "id": "prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analyze this n8n Render deployment. Status: \" + $json.deployStatus + \". Dockerfile: \" + $json.dockerfile + \". render.yaml: \" + $json.renderYaml + \". If error, fix it. If running, suggest ONE optimization. If perfect, say COMPLETE. Respond ONLY with JSON: {\\\"status\\\": \\\"fix\\\" or \\\"optimize\\\" or \\\"complete\\\", \\\"file\\\": \\\"Dockerfile\\\" or \\\"render.yaml\\\" or \\\"none\\\", \\\"content\\\": \\\"full new file content\\\", \\\"reason\\\": \\\"brief explanation\\\"}\"\n  }]\n}",
        "options": {}
      },
      "id": "ask-claude",
      "name": "Ask Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get Claude response\nconst claudeResponse = $('Ask Claude').first().json;\nconst prepData = $('Prepare Data').first().json;\n\n// Parse response\nlet parsed;\ntry {\n  const text = claudeResponse.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : text);\n} catch(e) {\n  return { action: 'skip', reason: 'Could not parse: ' + e.message };\n}\n\n// Check if complete\nif (parsed.status === 'complete' || parsed.file === 'none') {\n  return { action: 'skip', reason: 'Nothing to do: ' + parsed.reason };\n}\n\n// Get correct SHA\nconst sha = parsed.file === 'Dockerfile' ? prepData.dockerfileSha : prepData.renderYamlSha;\n\n// Encode new content\nconst contentBase64 = Buffer.from(parsed.content).toString('base64');\n\nreturn {\n  action: 'update',\n  file: parsed.file,\n  sha: sha,\n  contentBase64: contentBase64,\n  message: parsed.status + ': ' + parsed.reason\n};"
      },
      "id": "parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-update",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-action",
      "name": "Should Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/remycorpo-alt/n8n/contents/{{ $json.file }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message }}\",\n  \"content\": \"{{ $json.contentBase64 }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"claude/setup-n8n-render-d5lex\"\n}",
        "options": {}
      },
      "id": "push",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -100]
    },
    {
      "parameters": {
        "content": "## Simple Auto-Fix Workflow\n\n**Flow:**\n1. Check Render status\n2. Get Dockerfile from GitHub\n3. Get render.yaml from GitHub\n4. Send to Claude for analysis\n5. Parse Claude's response\n6. Push fix if needed\n\n**Credentials needed:**\n- Render API (Header Auth)\n- GitHub API (Header Auth)\n- Anthropic API (Header Auth)\n\n**Already configured for:**\n- Service: srv-d60s9g4oud1c73fvqcb0\n- Repo: remycorpo-alt/n8n\n- Branch: claude/setup-n8n-render-d5lex",
        "height": 340,
        "width": 280
      },
      "id": "note",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-300, -100]
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Check Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render": {
      "main": [
        [
          {
            "node": "Get Dockerfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dockerfile": {
      "main": [
        [
          {
            "node": "Get render.yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get render.yaml": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Ask Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Claude": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Should Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
