workflows/render-monitor.json
{
  "name": "Render Monitor - Claude Code Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Check Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.render.com/v1/services/{{ $json.service_id }}/deploys?limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-deploy-status",
      "name": "Get Latest Deploy Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RENDER_API_CREDENTIAL_ID",
          "name": "Render API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json[0].deploy.status }}",
              "rightValue": "live",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-if-failed",
      "name": "Is Deploy Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.render.com/v1/services/{{ $('Set Config').json.service_id }}/logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "tail",
                "value": "100"
              }
            ]
          }
        }
      },
      "id": "get-logs",
      "name": "Get Error Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RENDER_API_CREDENTIAL_ID",
          "name": "Render API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"My n8n deployment on Render has failed. Here is the deploy status and logs. Please analyze the error and suggest a fix:\\n\\nDeploy Status: {{ $('Is Deploy Failed?').json[0].deploy.status }}\\n\\nError Logs:\\n{{ $('Get Error Logs').json.map(l => l.message).join('\\\\n') }}\"\n    }\n  ]\n}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          }
        }
      },
      "id": "call-claude",
      "name": "Send to Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_API_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "service_id",
              "value": "YOUR_RENDER_SERVICE_ID"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 0]
    },
    {
      "parameters": {
        "content": "## Setup Instructions\n\n1. **Get your Render Service ID** from the Render dashboard URL:\n   `https://dashboard.render.com/web/srv-XXXXX` → `srv-XXXXX` is your service ID\n\n2. **Create Render API Credential:**\n   - Go to Render → Account Settings → API Keys\n   - Create a new API key\n   - In n8n, create HTTP Header Auth credential:\n     - Name: `Authorization`\n     - Value: `Bearer YOUR_RENDER_API_KEY`\n\n3. **Create Anthropic API Credential:**\n   - Get API key from console.anthropic.com\n   - In n8n, create HTTP Header Auth credential:\n     - Name: `x-api-key`\n     - Value: `YOUR_ANTHROPIC_API_KEY`\n\n4. **Update the Set Config node** with your Render service ID\n\n5. **Update credential IDs** in the HTTP Request nodes",
        "height": 420,
        "width": 340
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, -200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysis",
              "name": "claude_analysis",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "deploy_status",
              "value": "={{ $('Is Deploy Failed?').json[0].deploy.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, -100]
    }
  ],
  "connections": {
    "Check Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get Latest Deploy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Deploy Status": {
      "main": [
        [
          {
            "node": "Is Deploy Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Deploy Failed?": {
      "main": [
        [
          {
            "node": "Get Error Logs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Error Logs": {
      "main": [
        [
          {
            "node": "Send to Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Claude API": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
